.thank-you {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #7100ff;
  min-height: 632px;
}

@media screen and (max-width: 768.98px) {
    .thank-you{
     flex-direction: column-reverse;
    }
  }
