.main-screen_page_help {
  min-height: 632px;
  background-color: #7100FF;
  max-width: 100%;
  /* background-image: url(../../../images/help_background.svg);
  background-size: 385.88px 301.47px;
  background-position: 73% center;
  background-repeat: no-repeat; */
}

@media screen and (max-width: 768.98px) {
  .main-screen_page_help {
    min-height: 560px;
    /* background-position: center 44px;
    background-size: 316.05px 247.36px; */
  }
}
