.message__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.08;
  color: #fff;
  max-width: 420px;
  margin: 0 0 15px 0;
}

@media screen and (max-width: 767px) {
  .message__title {
    font-size: 40px;
    max-width: 320px;
  }
}

@media screen and (max-width: 533px) {
  .message__title {
    font-size: 32px;
    line-height: 112%;
    margin: 0 0 12px 0;
  }
}
