.thank-you__info-subtitle{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    padding: 16px 0 22px 0;
    margin: 0;
}