@import url(./../blocks/thank-you/thank-you.css);
@import url(./../blocks/thank-you/info/thank-you__info.css);
@import url(./../blocks/thank-you/info-title/thank-you__info-title.css);
@import url(./../blocks/thank-you/info-subtitle/thank-you__info-subtitle.css);
@import url(./../blocks/thank-you/info-button/thank-you__info-button.css);
@import url(./../blocks/thank-you/info-button-text/thank-you__info-button-text.css);
@import url(./../blocks/thank-you/image/thank-you__image.css);
