.message {
  margin: auto;
  padding: 62px 0;

  width: 880px;

  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}


@media screen and (max-width: 930px) {
  .message {
    width: 320px;
    padding: 336px 0 40px 0;
    margin: 0 auto;
    background-size: 320px 256px;
  }
}
