.message {
  margin: 0 auto;
  padding: 63px 0 59px;
  width: 880px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}


@media screen and (max-width: 930px) {
  .message {
    width: 320px;
    padding: 336px 0 40px 0;
    background-size: 320px 256px;
    background-position: center 40px;
  }
}
