.notification__link {
  padding: 10px 24px;
  border: 2px solid white;
  border-radius: 22px;
  text-decoration: none;
  color: white;
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  display: inline-block;
}


