.popup__payment-method-label {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 8px 0 22px 0;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3b3748;
  cursor: pointer;
  box-sizing: border-box;
}

@media screen and (min-width: 768.98px) {
  .popup__payment-method-label {
    font-size: 18px;
    line-height: 24px;
    padding: 6px 0 19px 0;
  }
}

.popup__payment-method-label:last-of-type {
  padding-bottom: 12px;
}
